.container__todoapp{
    max-width: 500px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 12px;
    border: 1px solid var(--gray-400);
    background-color: #f8f9fa;
}

.todo__title{
    font-size: 26px;
    font-weight: 500;
    color: var(--gray-600);
}

.todo__task__list{
    margin: 25px 0;
    font-size: 18px;
    color: var(--gray-600);
}

.todo__list__item{
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 6px;
    color: #fff;
    font-size: 18px;

}