/* Navbar One */


.btn__sm__icon {
  font-size: 18px;
  color: #fff !important;
  justify-content: center;
  margin: 0 8px;
  padding: 3px 2px;
  transition: all 0.5s ease;
}

.btn__sm__icon:hover {
  color: var(--secondary-color) !important;
  transform: scale(1.3, 1.3) translate3d(0, 0, 0);
}

/* Navbar two */

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

.bg-white {
  box-shadow: var(--box-shadow-gray);
  background: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(15px);
}

.nav-link {
  font-size: var(--font-small);
  font-weight: 500;
}

.nav-link:active {
  color: var(--primary-color) !important;
}

.button__nav {
  color: #fff;
  background: var(--primary-color);
  padding: 8px 20px;
  border: none;
  border-radius: 50px;
  transition: var(--transition);
}

.button__nav:hover {
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-primary);
  transform: translateY(-5px);
}

@media (max-width: 600px) {

  .button__nav {
    display: none;
  }

}